/* .design-icon {
    background-image: url('design_icon.png');
    height: 20px;
    width: 20px;
    display: block;
    
} */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.form-control {
    background-color: transparent;
}

/* chrome */
form .form-control::-webkit-input-placeholder{
    color: white;
    opacity: 1;
}
/* mozilla 4 to 18 placeholder */
form .form-control:-moz-placeholder {
    color:white
}
/*  mozilla 19+ placeholder*/
form .form-control::-moz-placeholder {
    color: white;
}
/* edge placeholder */
form .form-control::-ms-input-placeholder {
    color: white;
}
/* general placeholder */
form .form-control::placeholder {
    color: white;
    opacity: 1;
}

.show-des {
    display: none;
}

.show-dev {
    display: none;
}

 .show-pm {
    display: none;
}

.des-icon {
   
    display: block;
    
}
.dev-icon {
    
    display: block;
  
}
.pm-icon {
    
    display: block;
  
}

.show-1{
    display:none;
}